/* google font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:wght@200;400;800&family=VT323&display=swap");

/* custom scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #13acf373;
}
::-webkit-scrollbar-thumb:hover {
  background: #0296dabf;
}

/* general resets */
* {
  padding: 0;
  margin: 0;
  font-family: Quicksand, sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 12.5px;
  width: 100%;
  cursor: default;
  position: relative;
  margin: 0 auto;
  background: #9bd9ffb9;
}
p,
a,
ul,
li,
div {
  text-decoration: none;
  list-style-type: none;
}
a {
  color: #000;
}
div#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

nav {
  display: block;
  position: sticky;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #a0a0a07c;
  padding: 20px;
  background: #38c0ff65;
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 1;
}
nav a {
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
nav a:hover {
  font-weight: bold;
  background: #ffffffbd;
}
nav a.active {
  font-weight: bold;
}
.homepage {
  padding: 0 10%;
  padding-top: 10px;
  text-align: center;
}
.homepage img {
  max-width: 100%;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #13acf3be;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  transition: all 0.2s linear;
  cursor: pointer;
}
.btn:hover {
  background: #ffffffe5;
}

.projects {
  padding-top: 40px;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  margin-bottom: 100px;
}
.project a.btn {
  padding: auto 5%;
  transition: all 0.2s linear;
  background: #ffffffd5;
}
.project a:hover {
  background: #66cfffbe;
}
.project a img {
  filter: blur(2.5px);
  transition: filter 0.1s linear;
}
.project a:hover img {
  filter: blur(0);
}
.project img,
.project h4 {
  max-height: 250px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
  box-sizing: content-box;
  padding-bottom: 20px;
  display: block;
  font-weight: bold;
}
.project .details {
  padding-bottom: 10px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  padding: 5%;
  max-width: 1200px;
  margin: 0 auto;
}
.about .about-me {
  text-align: left;
  line-height: 1.5;
}
.about .about-me ul li {
  margin-left: 20px;
  list-style-type: disc;
}
.about .me {
  margin: 20px auto auto;
  max-width: 400px;
}
.about .me img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.project-details {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.project-details .btns {
  text-align: start;
  max-width: 95%;
  margin: 20px auto;
}
.project-details .btn {
  font-size: 10px;
  margin: 5px auto;
}
.project-details .btns div div .btn {
  color: #fff;
  background: #5393fcd8;
}
.project-details .btns div div .btn:hover {
  filter: brightness(110%);
}
.project-details .btns div .btn:first-child {
  margin-right: 10px;
}
.project-details .btn.visit {
  color: #fff;
  background: #3aa141;
  font-size: 20px;
  text-align: center;
  display: block;
  width: 100%;
  transition: all 0.2s linear;
}
.project-details .btn.visit:hover {
  filter: brightness(110%);
}
.project-details p {
  max-width: 95%;
  margin: 20px auto;
  text-align: start;
}
.project-details .iframe {
  border-radius: 10px;
  border: 1px solid #32b4ffcb;
  margin-bottom: 100px;
}

footer {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  width: 100%;
  padding: 5px 0;
  background: #38c0ff65;
  backdrop-filter: saturate(180%) blur(10px);
}
footer a {
  color: #111;
  font-weight: bold;
}

/* responsive - mobile first */
/* tablet */
@media (min-width: 768px) {
  body {
    font-size: 17.5px;
  }

  nav {
    text-align: left;
    padding: 20px calc(10% - 20px);
  }

  .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }
  .project {
    text-align: center;
  }
  .project a.btn {
    width: 360px;
  }
  .project img {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .about .me {
    margin: auto;
  }

  .project-details .btn {
    font-size: 15px;
  }

  footer {
    font-size: 12.5px;
  }
}
/* desktop */
@media (min-width: 1200px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
  }
  .project {
    max-height: 300px;
    margin-bottom: 100px;
  }
}
